.train {
  & {
    background-color: var(--b);
  }

  h2 {
    color: var(--a);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: start;
  }
}

.train .upperPart {
  & {
    width: 100%;
    background-color: var(--b);
  }

  .line {
    border-top: 1px solid rgb(220, 220, 220);
  }
}

.train .trainCard {
  margin-top: 30px;
}

// ******

.train .fareAndSeatContainer .fareAndSeat {
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding-bottom: 50px;
}

.fareAndSeat .inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.fareAndSeat .inputs .fromToSearch form {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  > div {
    position: relative;
    margin: 0 8px;
    i {
      position: absolute;
      left: 8px;
      height: 24px;
      width: 24px;
      pointer-events: none;
      color: var(--d);
      top: 11px;
      &:first-of-type {
        font-size: 20px;
        left: 8px;
      }
      &:last-of-type {
        left: 152px;
        font-size: 14px;
        top: 14px;
      }
    }
    select {
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      box-sizing: border-box;
      height: 40px;
      width: 170px;
      padding: 0 12px;
      border: none;
      font-size: 16px;
      text-align: left;
      letter-spacing: 0.3px;
      cursor: pointer;
      background-color: transparent;
      box-shadow: none;
      color: var(--f);
      border-bottom: 1px solid var(--d);
      transition: border 0.15s;
      padding-left: 35px;
      appearance: none;
      &:hover,
      &:focus {
        outline: 0;
      }
      option {
        margin-top: 20px;
        border-color: var(--d);
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
  > i {
    pointer-events: none;
    font-size: 22px;
    color: var(--f);
    opacity: 0.6;
    font-weight: 100;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.fareAndSeat .inputs .fareAndPrice {
  margin-top: 51px;
  display: flex;
  > div {
    padding-right: 20px;
    input {
      display: none;
    }
    label {
      cursor: pointer;
      text-align: center;
      color: var(--f);
      font-size: 20px;
      span {
        margin-left: 10px;
        opacity: 0.6;
        &::after {
          content: "EGP";
          font-size: 15px;
        }
      }
    }

    input:checked {
      ~ label {
        color: var(--d);
      }
      ~ .border {
        height: 5px;
        background: var(--d);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
}

.fareAndSeat .results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 6px;
  padding: 25px 25px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin: 0px 50px;
  > div {
    margin-bottom: 10px;
  }
}

.fareAndSeat,
#media {
  .inputs {
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .fromToSearch form {
      //extra media
      @media (max-width: 455px) {
        flex-wrap: wrap;
        flex-direction: column;
      }
      > i {
        //extra media
        @media (max-width: 455px) {
          transform: rotate(90deg);
          margin: 10px 0px;
        }
      }
    }
    .fareAndPrice {
      @media (max-width: 991px) {
        margin-top: 0px;
      }
      > div {
        //extra media
        @media (max-width: 476px) {
          font-size: 15px;
          padding-right: 18px;
        }
        label {
          //extra media
          @media (max-width: 476px) {
            font-size: 17px;
          }

          span {
            //extra media
            @media (max-width: 476px) {
              margin-left: 5px;
            }
            &::after {
              //extra media
              @media (max-width: 476px) {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
  .results {
    @media (max-width: 575px) {
      overflow-y: scroll;
      max-height: 200px;
      justify-content: center;
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 1px 0px 0px 0px white;
        background-color: var(--c);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--c);
        border-radius: 50px;
        box-shadow: inset 2px 2px 3px 0px #b4b3b5;
      }
    }
    //extra media
    @media (max-width: 476px) {
      padding: 25px 25px;
      margin: 0px 10px;
    }
    > div {
      margin-bottom: 10px;
    }
  }
}

// ******

.train .scheduleContainer {
  .schedule {
    h2 {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      padding-top: 45px;
    }

    table {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-collapse: collapse;
      th,
      td {
        padding-left: 16px;
        i {
          padding-left: 5px;
          vertical-align: middle;
        }
        .fa-stack {
          * {
            font-size: 5px;
          }
        }
      }
      thead {
        color: var(--a);
        background-color: #ebebed;
        opacity: 0.8;
        tr {
          height: 56px;
          th {
            padding-left: 16px;
            text-align: start;
          }
        }
      }
      tbody {
        color: var(--a);
        tr {
          height: 52px;
          &:nth-of-type(even) {
            background-color: #f9f9f9;
          }
          td {
            opacity: 0.7;
            &:first-of-type {
              color: var(--d);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.train .scheduleContainer,
#media {
  .schedule {
    .tableContainer {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: 5px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 1px 0px 0px 0px white;
        background-color: var(--c);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--c);
        border-radius: 50px;
        box-shadow: inset 2px 2px 3px 0px #b4b3b5;
      }
    }
  }
}

// ******

.train .reviewContainer {
  .review {
    h2 {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      padding-top: 45px;
    }
    .mainReview {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .totalRate {
        color: var(--b);
        background: linear-gradient(142deg, #a1d54f 50%, #5ba829 50%);
        width: 50px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        font-weight: 500;
        border-radius: 3px;
      }
      .numberOfReviews {
        font-size: 20px;
        margin-left: 20px;
        color: rgba(0, 0, 0, 0.38);
      }
    }
    .subReviews {
      display: flex;
      justify-content: space-around;
      > div {
        display: flex;
        border-inline-end: 1px solid rgb(224, 224, 224);
        flex-grow: 1;
        // justify-content: center;
        align-items: center;
        height: 50px;
        &:last-of-type {
          border-inline-end: none;
          justify-content: flex-end;
        }
        &:nth-of-type(2) {
          justify-content: center;
        }
        > div:first-of-type {
          font-size: 18px;
          margin-right: 15px;
          width: 135px;
          opacity: 0.64;
        }
        > div:last-of-type {
          i {
            color: #bbbbbb;
            margin-right: 2px;
            &.active {
              color: #da8400;
            }
          }
        }
      }
    }
  }
}

.train .reviewContainer,
#media {
  .review {
    .subReviews {
      @media (max-width: 991px) {
        flex-direction: column;
      }
      > div {
        @media (max-width: 991px) {
          border-inline-end: none;
        }
        &:last-of-type {
          @media (max-width: 991px) {
            justify-content: flex-start;
          }
        }
        &:nth-of-type(2) {
          @media (max-width: 991px) {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

// ******

.train .footerContainer {
  margin-top: 100px;
}
