.Header {
  height: 351px;
  background-color: var(--a);
  /* #132968 */
}
.Header .title{
  color: var(--b);
  font-weight: 700;
  font-size: 40px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .Header .title{
    font-size: 30px;
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .Header .title{
    font-size: 24px;
    margin-top: 7px;
  }
}


h3 {
  color: #f96b6b;
  /* color: #fa6b6b; */
}
