*{
  padding: 0;
  margin: 0;
}
.logoContainer {
  color: white;
  font-family: "Nexa";
}

.firstLine{
  font-weight: 900;
  font-size: 20px;
}

.coloredPart{
  color: var(--d);
}

.secondLine{
 font-size: 12px;
 text-align: center;
 color: #dadada;
 letter-spacing: 2px;
 font-weight: 700;
 word-spacing: 4px;
}

