.shape,
#flex_hight_width {
  & {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 800px;
  }
  // .firstWayTrains,.stations,.secondWayTrains {
  > div {
    display: flex;
    flex-direction: column;
    // .northStations,.theStation,.southStations {
    > div {
      display: flex;
      flex-direction: column;
      // .piece {
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .theStation {
      // .piece {
      > div {
        height: 200px;
      }
    }
    .southStations {
      // .piece {
      > div {
        flex-direction: column-reverse;
      }
    }
  }
  .stations {
    width: 200px;
  }
  .firstWayTrains,
  .secondWayTrains {
    // width: 100px;
    .northStations,
    .southStations {
      .linesContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .line {
          display: flex;
          width: 50px;
          .piece {
            height: 100px;
            display: flex;
          }
        }
      }
    }
  }
}

.shape,
#flex_hight_width,
#media {
  & {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 800px;
  }
  // .firstWayTrains,.stations,.secondWayTrains {
  > div {
    display: flex;
    flex-direction: column;
    // .northStations,.theStation,.southStations {
    > div {
      display: flex;
      flex-direction: column;
      // .piece {
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .theStation {
      // .piece {
      > div {
        height: 200px;
      }
    }
    .southStations {
      // .piece {
      > div {
        flex-direction: column-reverse;
      }
    }
  }
  .stations {
    width: 200px;
    @media (max-width: 767px) {
      width: 100px;
    }
  }
  .firstWayTrains,
  .secondWayTrains {
    // width: 100px;
    .northStations,
    .southStations {
      .linesContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .line {
          display: flex;
          width: 50px;
          .piece {
            height: 100px;
            display: flex;
          }
        }
      }
    }
  }
}

//***

// global styles
.shape .trainContainer {
  & {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    width: 22px;
    height: 22px;
    background-color: var(--l);
    border-radius: 50%;
  }
  .flash {
    position: absolute;
    left: -2px;
    top: -5px;
    border: 0;
    background: none;
    padding: 6px;
    height: 40px;
    width: 40px;
    z-index: -1;
    div {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 0;
      background: var(--l);
      border-radius: 50%;
      margin-left: 4px;
    }
    span {
      content: "";
      position: absolute;
      border-radius: 100%;
      transform-origin: 50% 50%;
      left: -1px;
      top: 1px;
      background: var(--l);
      opacity: 0;

      width: 30px;
      height: 30px;

      animation: flash 0.8s ease-out infinite;
    }
    @keyframes flash {
      from {
        transform: scale(0);
        opacity: 1;
      }

      to {
        transform: scale(2.5);
        opacity: 0;
      }
    }
  }
  .trainInfo {
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 45px;
    color: var(--a);
    font-size: 12px;
    right: 33px;
    z-index: -2;
    &::after {
      content: "";
      width: 15px;
      height: 15px;
      background-color: var(--b);
      position: absolute;
      top: 37%;
      transform: translateX(-35%) rotate(45deg);
      right: -9px;
      box-shadow: #13296833 3px -2px 4px -2px;
      z-index: -3;
    }

    > span {
      &:first-of-type {
        font-size: 14px;
        color: var(--a);
        margin-bottom: 2px;
      }
      &:nth-of-type(2) {
        color: var(--m);
      }
      &:last-of-type {
        font-size: 10px;
        color: #3dc13c;
      }
    }
  }
}

// change global style
.shape .southStations .trainContainer {
  top: 10px;
}
// change global style
.shape .secondWayTrains .trainContainer .trainInfo {
  left: 33px;
  &::after {
    top: 37%;
    transform: translateX(35%) rotate(45deg);
    box-shadow: #13296833 -3px 2px 4px -2px;
    left: -9px;
  }
}
// change global style
.shape .theStation .trainContainer .trainInfo > span:last-of-type {
  color: #f39c11;
}
// change global style
.shape .firstWayTrains .southStations .trainContainer .trainInfo > span:last-of-type,
.shape .secondWayTrains .northStations .trainContainer .trainInfo > span:last-of-type {
  color: #f13637;
}

//**********

.shape {
  padding: 25px;
}

.shape .arrowsContainers {
  overflow: hidden;
  height: 100%;
  &:last-of-type {
    transform: rotate(180deg);
  }
  i {
    margin-right: 50px;
    // font-size: 114px;
    font-size: 50px;
    color: var(--m);
    opacity: 0.2;
  }
}

.shape .arrowsContainers,
#media {
  @media (max-width: 767px) {
    display: none;
  }
}

.shape .stations {
  // .northStations,.theStation,.southStations {
  > div {
    .piece {
      .station {
        position: relative;
        width: 100%;
        i {
          font-size: 16px;
          margin-left: 1px;
          color: var(--d);
        }
        .stationName {
          font-size: 16px;
          // color: #132968;
          color: white;
          font-weight: bold;
          background-color: var(--l);
          width: 85%;
          text-align: center;
          border-radius: 5px;
          margin-bottom: 6px;
          white-space: nowrap;
        }
      }
      .verLine {
        flex: 1 1 0%;
        background-color: var(--l);
        width: 2px;
      }
    }
  }
  .theStation {
    .piece {
      .station {
        .stationName {
          font-size: 18px;
          background-color: #132a68b1;
          color: white;
          font-weight: bold;
        }
        i {
          color: var(--f);
        }
      }
      .verLine {
        background-color: white;
        width: 0px;
        border-right: 2px dashed var(--f);
      }
      .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid var(--f);
      }
    }
  }
}

.shape .firstWayTrains,
.shape .secondWayTrains {
  .northStations,
  .southStations {
    align-items: center;
    .piece {
      display: block;
      position: relative;
      .railroadsContainer {
        height: 100%;
        overflow: hidden;
        > img {
          display: block;
          width: 58px;
        }
      }
      .trainContainer {
        transform: translate(18px, 0);
      }
      .line {
        .piece {
          .verLine {
            flex: 1 1 0%;
            background-color: #a1a9c3;
            width: 2px;
          }
        }
      }
    }
  }

  .theStation {
    align-items: flex-end;
    .box {
      background-color: white;
      border: 2px solid #132a68b1;
      width: 150px;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;
      .chair {
        align-items: flex-start;
        width: 40px;
        img {
          background-color: var(--m);
          width: 40px;
        }
      }
      .train {
        height: 100%;
        position: relative;
        img {
          width: 100%;
          overflow: hidden;
        }
        .trainContainer {
          position: absolute;
          top: 50%;
          transform: translate(0%, -50%);
        }
      }
    }
  }
}
