.shape,
#flex_hight_width {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // .firstWayTrains,.stations,.secondWayTrains {
  > div {
    display: flex;
    flex-direction: column;
    // .northStations,.theStation,.southStations {
    > div {
      display: flex;
      flex-direction: column;
      // .piece {
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .theStation {
      // .piece {
      > div {
        height: 200px;
      }
    }
    .southStations {
      // .piece {
      > div {
        flex-direction: column-reverse;
      }
    }
  }
  .stations {
    width: 150px;
  }
  .firstWayTrains,
  .secondWayTrains {
    width: 300px;
    .northStations,
    .southStations {
      .linesContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .line {
          display: flex;
          width: 50px;
          .piece {
            height: 100px;
            display: flex;
          }
        }
      }
    }
  }
}

.shape {
  padding: 25px;
}

.shape .stations {
  // .northStations,.theStation,.southStations {
  > div {
    .piece {
      .station {
        position: relative;
        i {
          font-size: 24px;
          margin-left: 1px;
          color: var(--d);
        }
        .stationName {
          font-size: 14px;
          color: #132968;
          font-weight: bold;
        }
      }
      .verLine {
        flex: 1 1 0%;
        background-color: var(--l);
        width: 2px;
      }
    }
  }
  .theStation {
    .piece {
      .station {
        .stationName {
          font-size: 18px;
          color: var(--d);
          font-weight: bold;
        }
      }
      .verLine {
        background-color: white;
        width: 0px;
        border-right: 2px dashed var(--l);
      }
      .circle {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid var(--l);
      }
    }
  }
}

.shape .firstWayTrains,
.shape .secondWayTrains {
  width: 300px;
  .northStations,
  .southStations {
    .linesContainer {
      .arrowIcon {
        font-size: 114px;
        margin-right: 77px;
        color: var(--m);
        opacity: 0.1;
      }
      .line {
        .piece {
          .trainContainer {
            & {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              top: 60px;
              transform: translate(-50%, -50%);
              width: 22px;
              height: 22px;
              background-color: var(--l);
              border-radius: 50%;
            }
            .flash {
              position: absolute;
              left: -2px;
              top: -5px;
              border: 0;
              background: none;
              padding: 6px;
              height: 40px;
              width: 40px;
              z-index: -1;
              // z-index: 99;
              div {
                display: inline-block;
                width: 8px;
                height: 8px;
                margin-right: 0;
                background: var(--l);
                border-radius: 50%;
                margin-left: 4px;
                // z-index: 999;
              }
              span {
                content: "";
                position: absolute;
                border-radius: 100%;
                transform-origin: 50% 50%;
                left: -1px;
                top: 1px;
                background: var(--l);
                opacity: 0;

                width: 30px;
                height: 30px;

                animation: flash 0.8s ease-out infinite;
                // animation-delay: 0s;
              }
              @keyframes flash {
                from {
                  transform: scale(0);
                  opacity: 1;
                }

                to {
                  /* width: 20px;
                  height: 20px; */
                  transform: scale(2.5);
                  opacity: 0;
                }
              }
            }
            .trainInfo {
              position: absolute;
              background-color: rgb(255, 255, 255);
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 60px;
              height: 45px;
              color: var(--a);
              font-size: 12px;
              right: 33px;
              z-index: -2;
              &::after {
                content: "";
                width: 15px;
                height: 15px;
                background-color: var(--b);
                position: absolute;
                top: 37%;
                transform: translateX(-35%) rotate(45deg);
                right: -9px;
                box-shadow: #13296833 3px -2px 4px -2px;
                z-index: -3;
              }

              > span {
                // font-size: 12px;
                &:first-of-type {
                  font-size: 14px;
                  color: var(--a);
                  margin-bottom: 2px;
                }
                &:nth-of-type(2) {
                  color: var(--m);
                }
                &:last-of-type {
                  // f13637
                  font-size: 11px;
                  color: #3dc13c;
                }
              }
            }
          }
          .verLine {
            flex: 1 1 0%;
            background-color: #a1a9c3;
            width: 2px;
          }
        }
      }
    }
  }

  .theStation {
    align-items: flex-end;
    .box {
      background-color: white;
      border: 2px solid var(--m);
      width: 150px;
      flex-direction: row;
      justify-content: space-between;
      .chair {
        align-items: flex-start;
        width: 40px;
        img {
          background-color: var(--m);
          width: 40px;
        }
        &.left {
          img {
          }
        }
      }
    }
  }
}
