:root {
  /* titles some background */
  /* blue */
  --a: #132968;

  /*paragraphs , some background */
  /* blue lite */
  --f: #425486;

  /* most background , some titles and paragraphs*/
  /* white */
  --b: #fff;

  /*little dark background */
  /* off white */
  --c: #f1f2f6;

  /*buttons and some letters and logo  */
  /* pink */
  --d: #fa6b6b;

  /*buttons hover*/
  /* pink lite */
  --l: #fb8989;

}