.TrainsBetweenStations {
  & {
    // height: 4000px;
    background-color: var(--c);
  }

  .upperPart {
    & {
      position: fixed;
      width: 100%;
      background-color: var(--b);
      z-index: 5;
    }

    .line {
      border-top: 1px solid rgb(220, 220, 220);
    }
  }
}

.TrainsBetweenStations .mainPart {
  padding-top: 132px;

  .filtersContainer {
    background-color: white;
  }
}

.TrainsBetweenStations,
#media {
  .upperPart {
    @media (max-width: 991px) {
      position: static;
    }
  }
  .mainPart {
    @media (max-width: 991px) {
      padding-top: 0px;
    }
    .filtersContainer::after {
      @media (max-width: 767px) {
        content: ".";
        width: 100%;
        background-color: white;
        color: transparent;
      }
    }
  }
}

.mainPart .filters {
  display: flex;
  > div {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    &:not(:first-of-type) {
      margin-left: 35px;
    }
    &:first-of-type {
      margin-right: 35px;
    }
    > h4 {
      color: var(--a);
      margin-bottom: 10px;
      font-weight: 500;
    }
  }
  > span {
    border-right: 1px dashed rgba(0, 0, 0, 0.12);
  }
}

.filters .sortedBy {
  min-width: 372px;
  .optionsContainer {
    display: flex;
    border: 1px solid var(--m);
    padding: 10px;
    > div {
      text-align: center;
      border-right: 1px solid var(--m);
      &:last-of-type label {
        border: none;
        padding-right: 0px;
      }
      &:last-of-type {
        border-right: none;
      }
      &:first-of-type label {
        padding-left: 0px;
      }
      input {
        display: none;
      }
      label {
        width: 100%;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: var(--m);
        padding: 5px 10px;
        cursor: pointer;
      }
      input:checked {
        ~ label {
          color: var(--d);
        }
      }
    }
  }
}

.filters .class {
  //reduplicate styles for remove warning
  margin-top: 20px;
  h4 {
    margin-bottom: 16px;
  }
}

.filters .departureTime {
  h4 {
    margin-bottom: 19px;
  }
  .timesContainer {
    display: flex;
    flex-wrap: wrap;

    > div {
      margin-right: 5px;
      margin-bottom: 5px;

      input {
        display: none;
      }

      input:checked {
        ~ label > div {
          background: var(--d) !important;
          color: #fff !important;
          border: 1px solid var(--d);
          img {
            filter: invert(98%) sepia(49%) saturate(307%) hue-rotate(171deg) brightness(112%) contrast(100%);
          }
        }
      }

      label {
        cursor: pointer;
        > div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 115px;
          height: 25px;
          border: 1px solid var(--m);
          border-radius: 8px;
          cursor: pointer;
          box-sizing: border-box;
          color: var(--a);
          img {
            width: 18px;
            height: 19px;
            margin-right: 5px;
            filter: invert(24%) sepia(97%) saturate(393%) hue-rotate(186deg) brightness(95%) contrast(77%);
          }
          P {
            font-size: 10px;
          }
        }
      }

      &:last-of-type > label div img {
        // because moon img very big
        width: 15px !important;
        height: 15px !important;
      }
    }
  }
}

.filters,
#media {
  @media (max-width: 767px) {
    overflow-x: scroll;
    
    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 1px 0px 0px 0px white;
      background-color: var(--c);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--c);
      border-radius: 50px;
      box-shadow: inset 2px 2px 3px 0px #b4b3b5;
    }
  }

  > div {
    &:not(:first-of-type) {
      @media (max-width: 991px) {
        margin-left: 10px;
      }
    }
    &:first-of-type {
      @media (max-width: 991px) {
        margin-right: 10px;
      }
    }
  }

  .departureTime {
    .timesContainer {
      @media (max-width: 767px) {
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }
  .class {
    .checkBoxOrRadioContainer > div > ul {
      @media (max-width: 991px) {
        flex-direction: column;
      }
      @media (max-width: 767px) {
        flex-direction: row;
      }
    }
  }
}

// **************************************

.mainPart .trainsCardsContainer {
  border: none;
  min-height: 292px;

}

.TrainsBetweenStations .footer {
  margin-top: 100px;
}
