.MainServices {
  background-color: var(--c);
  overflow: hidden;
}

.MainServices .servicesBoxes {
  display: flex;
}

.servicesBoxes .serviceBox {
  flex: 1;
  flex-direction: row;
  display: flex;
  min-height: 85px;
  border: 1px solid #ccc;
  float: left;
  cursor: pointer;
  border-radius: 6px;
  padding: 5px;
  margin: 0 5px;
  box-shadow: 2px 2.5px 5px -1px #ccc;
  background: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.servicesBoxes .serviceBox:hover {
  box-shadow: 0px 0 5px 2px #ccc;
}

.servicesBoxes .serviceBox.serviceBoxSelected {
  border: 2px solid var(--d);
}

.servicesBoxes .serviceBox .imgBox {
  width: 10%;
  margin: auto 5px;
  position: relative;
}

.servicesBoxes .serviceBox .imgBox .flash {
  position: absolute;
  left: 24px;
  top: -16px;
  border: 0;
  background: none;
  padding: 6px;
  height: 40px;
  width: 40px;
}

.servicesBoxes .serviceBox:last-of-type .imgBox .flash {
  left: 16px;
}

.servicesBoxes .serviceBox .imgBox .flash div {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 0;
  background: #4edc24;
  border-radius: 50%;
  margin-left: 4px;
  z-index: 999;
}

.servicesBoxes .serviceBox .imgBox .flash span {
  content: "";
  position: absolute;
  border-radius: 100%;
  transform-origin: 50% 50%;
  left: -1px;
  top: 1px;
  background: #4edc24;
  opacity: 0;

  width: 30px;
  height: 30px;

  animation: flash 1s ease-out infinite;
  animation-delay: 0.2s;
}

@keyframes flash {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    /* width: 20px;
    height: 20px; */
    transform: scale(1);
    opacity: 0;
  }
}

.servicesBoxes .serviceBox .txtBox {
  width: 69%;
  margin: auto 25px;
  color: var(--a);
}

.servicesBoxes .serviceBox .txtBox .title {
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: var(--f);
}

.servicesBoxes .serviceBox .txtBox .paraph {
  font-size: 12px;
}

@media (max-width: 992px) {
  .servicesBoxes .serviceBox .txtBox {
    margin: auto 30px;
  }

  .MainServices .servicesBoxes {
    overflow-x: scroll;
  }

  .MainServices .servicesBoxes .serviceBox {
    min-width: 270px;
  }

  .MainServices .servicesBoxes::after {
    content: "sss";
    color: transparent;
  }

  .MainServices .servicesBoxes::-webkit-scrollbar {
    /* for remove warning*/
    border-radius: auto;
  }

  .MainServices .servicesBoxes::-webkit-scrollbar {
    height: 5px;
    cursor: pointer;
  }

  .MainServices .servicesBoxes::-webkit-scrollbar-track {
    box-shadow: inset 1px 0px 0px 0px white;
    background-color: white;
  }

  .MainServices .servicesBoxes::-webkit-scrollbar-thumb {
    background: var(--c);
    border-radius: 50px;
    box-shadow: inset 2px 2px 3px 0px #b4b3b5;
  }
}
