.MainServices {
  background-color: var(--c);
  overflow: hidden;
}

.MainServices .servicesBoxes {
  display: flex;
}

.servicesBoxes .serviceBox {
  flex: 1;
  flex-direction: row;
  display: flex;
  min-height: 95px;
  border: 1px solid #ccc;
  float: left;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px;
  margin: 0 10px;
  box-shadow: 2px 2.5px 5px -1px #ccc;
  background: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.servicesBoxes .serviceBox:hover {
  box-shadow: 0px 0 5px 2px #ccc;
}

.servicesBoxes .serviceBox .imgBox {
  width: 10%;
  margin: auto 5px;
}

.servicesBoxes .serviceBox .txtBox {
  width: 69%;
  margin: auto 25px;
  color: var(--a);
}

.servicesBoxes .serviceBox .txtBox .title {
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: var(--f);
}

.servicesBoxes .serviceBox .txtBox .paraph {
  font-size: 12px;
}

@media (max-width: 992px) {
  .servicesBoxes .serviceBox .txtBox {
    margin: auto 30px;
  }

  .MainServices .servicesBoxes {
    overflow-x: scroll;
  }

  .MainServices .servicesBoxes .serviceBox {
    min-width: 270px;
  }

  .MainServices .servicesBoxes::after {
    content: "sss";
    color: transparent;
  }

  .MainServices .servicesBoxes::-webkit-scrollbar {
    /* display: none; */
  }
  
  .MainServices .servicesBoxes::-webkit-scrollbar {
    height: 5px;
    cursor: pointer;
  }

  .MainServices .servicesBoxes::-webkit-scrollbar-track {
    box-shadow: inset 1px 0px 0px 0px white;
    background-color: white;
  }

  .MainServices .servicesBoxes::-webkit-scrollbar-thumb {
    background: var(--c);
    border-radius: 50px;
    box-shadow: inset 2px 2px 3px 0px #b4b3b5;
  }
}