.Navbar {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  width: auto;
}

.Navbar ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  margin-left: auto;
  display: flex;
}
