.navbarLists {
  margin-right: 20px;
}

.navlink {
  text-decoration: none;
  color: var(--b);
  font-size: 14px;
}

@media (max-width: 576px) {
  .navbarLists {
    display: none;
  }

  .navlink {
    display: none;
  }
}

